.s-wrap {
  margin-top: 1em;
}

.tabs {
  margin-left: 1em;
  margin-bottom: 0.5em;
  display: flex;
}

.tabs span {
  cursor: pointer;
  user-select: none;
  padding: 0 0.5em;
  background: pink;
  border-bottom: orange 0.2em solid;
  border-right: black 0.2em solid;
}

.content {
  display: flex;
  max-height: 60vh;
}

.grouper {
  flex-flow:column;
}

.side-board {
  display: flex;
}

.board {
  flex: 4 1 0;
  background: black;
}

.board canvas {
  max-width: 100%;
  max-height: 100%;
  aspect-ratio: 16/9;
}

.side {
  flex-wrap: nowrap;
  flex: 1 1 0;
  padding: 0 0.5em;

}
.slices {
  display: flex;
  flex-flow: column;
  gap: 0.2em;
}

.slices .slice {
  display: flex;
}

.slice input {
  width: 100%;
}

.slice button {
  border: none;
  background: pink;
  padding: 0.5em;
  text-transform: uppercase;
  cursor: pointer;
  user-select: none;
}
